RPC_URL=https://placeholder-rpc
WSS_URL=wss://placeholder-wss
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
PRE_SALE_ADDRESS=0xPLACEHOLDER
PUBLIC_SALE_ADDRESS=0xPLACEHOLDER
GEN_TOKEN_ADDRESS=0xPLACEHOLDER
EXCLUDED_ADDRESSES=0xAAAA,0xBBBB
LP_ADDRESS=0xPLACEHOLDER
MIN_HOLD=0
COOLDOWN_HOURS=0
payoutIn_Hours_min=0
payoutIn_Hours_max=0