airT / AirdropCLI

RPC_URL=https://placeholder-rpc
WSS_URL=wss://placeholder-wss
GEN_TOKEN_ADDRESS=0xPLACEHOLDER
PUBLIC_SALE_ADDRESS=0xPLACEHOLDER
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
EXCLUDED_ADDRESSES=0xAAAA,0xBBBB
