
RPC_URL=https://placeholder-rpc
WSSURL=wss://placeholder-wss
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
GEN_TOKEN_ADDRESS=0xPLACEHOLDER
PUBLIC_SALE_ADDRESS=0xPLACEHOLDER
LP_PAIR_ADDRESS=0xPLACEHOLDER
MIN_BUY_PHASE1=0
MIN_BUY_PHASE2=0
MIN_BUY_PHASE3=0
MIN_BUY_PHASE4=0
DAILY_BONUS_AMOUNT_PHASE1=0
DAILY_BONUS_AMOUNT_PHASE2=0
DAILY_BONUS_AMOUNT_PHASE3=0
DAILY_BONUS_AMOUNT_PHASE4=0
BONUS_PER_DAY_PHASE1=0
BONUS_PER_DAY_PHASE2=0
BONUS_PER_DAY_PHASE3=0
BONUS_PER_DAY_PHASE4=0
RESET_INTERVAL_SECONDS=0
